{% extends 'master.html' %}
{% include 'header.html' %}

{% block title %} Crear Contacto {% endblock %}

{% block body %}

<div class="container">
	<form method="post" action="">
		<table class="table">
			<tr>
				<td>Nombre</td>
				<td><input type="text" name="nombre" class="form-control" value="{{ contact.nombre }}"></td>
			</tr>

			<tr>
				<td>Apellidos</td>
				<td><input type="text" name="apellidos" class="form-control" value="{{ contact.apellidos }}"></td>
			</tr>

			<tr>
				<td>Correo Electrónico</td>
				<td><input type="email" name="correo_e" class="form-control" value="{{ contact.correo_e }}"></td>
			</tr>

			<tr>
				<td>Contraseña</td>
				<td><input type="password" name="contrasena" class="form-control" value="{{ contact.contrasena }}"></td>
			</tr>

			<tr>
				<td>Genero</td>
				<td>
					Femenino:<input type="radio" name="genero" value="femenino"
					{% if contact.genero=='femenino' %}
						checked
					{% endif %}
					>
					Masculino:<input type="radio" name="genero" value="masculino"
					{% if contact.genero=='masculino' %}
						checked
					{% endif %}
					>
				</td>
			</tr>

			<tr>
				<td>Pasatiempos</td>
				<td>
					Atletismo:<input type="checkbox" name="pasatiempos" value="atletismo"
					{% if 'atletismo' in contact.pasatiempos %}
						checked
					{% endif %}
					>
					Lectura:<input type="checkbox" name="pasatiempos" value="lectura"
					{% if 'lectura' in contact.pasatiempos %}
						checked
					{% endif %}
					>
					Video Juegos:<input type="checkbox" name="pasatiempos" value="videojuegos"
					{% if 'videojuegos' in contact.pasatiempos %}
						checked
					{% endif %}
					>
				</td>
			</tr>

			<tr>
				<td>Pais</td>
				<td>
					<select name="pais" class="form-control">
						<option value="Mexico"
						{% if 'Mexico' in contact.pais %}
							checked
						{% endif %}
						>Mexico</option>
						<option value="Colombia"
						{% if 'Colombia' in contact.pais %}
							checked
						{% endif %}
						>Colombia</option>
						<option value="Ecuador"
						{% if 'Ecuador' in contact.pais %}
							checked
						{% endif %}
						>Ecuador</option>
					</select>
				</td>
			</tr>

			<tr>
				<td colspan="2">
					<input type="submit" name="submit" value="Actualizar" class="btn btn-warning">
				</td>
			</tr>
		</table>
	</form>
</div>

{% endblock %}